{% extends "layout/base.twig" %} 
{% block pageContent %}
    <main>
        <section class="section">
            <div class="container">
                <div class="content has-text-centered">
                <h1>Restaurants</h1>
                    {% for restaurant in restaurants %}
                        {% if restaurant.id > 1 %}
                            <h3>
                                <a href="{{ path_for('menu', {'id': restaurant.id}) }}">{{ restaurant.name }} ({{ restaurant.adr_city }})</a>
                            </h3>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}