{% extends "layout/base.twig" %}
{% block pageContent %}
    <main>
        <section class="section hero is-medium">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-half has-text-centered">
                            <figure>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 251 251" width="150px"><defs><style>.success-cls-1{fill:#23d160;}.success-cls-2{fill:#fff;}</style></defs><title>success</title><g id="Ebene_2" data-name="Ebene 2"><g id="Ebene_1-2" data-name="Ebene 1"><circle class="success-cls-1" cx="125.5" cy="125.5" r="125"/><path class="success-cls-2" d="M125.5,1a124.49,124.49,0,0,1,88,212.53A124.49,124.49,0,1,1,37.47,37.47,123.64,123.64,0,0,1,125.5,1m0-1A125.5,125.5,0,1,0,251,125.5,125.5,125.5,0,0,0,125.5,0Z"/><path class="success-cls-2" d="M56.09,131.09l54.8,55.23a6.08,6.08,0,0,0,9.42-1.22,547.45,547.45,0,0,1,81.12-99c5.57-5.37-2.92-13.85-8.48-8.48A560.83,560.83,0,0,0,110,179l9.43-1.21L64.57,122.6c-5.45-5.49-13.93,3-8.48,8.49Z"/></g></g></svg>
                            </figure>
                            <div class="content">
                                <header>
                                    <h2 class="title">Success!</h2>
                                    <p class="subtitle">Your has been submitted and will be destributed to your driver.</p>
                                </header>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}